.no_num_lists {
    list-style-type: none;
}


.b {
    font-weight: 700;
    font-style: oblique;
    color: brown;
}

.a {
    font-weight: 700;
    font-style: oblique;
    color: red;
}

.part1 {
    background-color: aqua;
}